@media print {
  @page {
    size: landscape;
  }

  hr {
    visibility: hidden;
    display: none;
  }

  div.passages {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;

    font-size: 20pt;
    line-height: 1.6;
    width: 360px;
  }

  .noprint {
    display: none;
  }

  a.noprint {
    font-size: 14px;
  }

  .block {
    page-break-after: always;
  }
}
