div {
  font-family: APHont;
  font-size: 20pt;
}

div.ltr {
  -webkit-margin-after: 1em; 
}

.fleuron {
  font-family: "Wingdings 2";
}

#instructions {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  margin: 30px;
}

a.noprint {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
}

.versenum {
  vertical-align: super;
}

hr {
    border-top: dotted 1px;
}

.info {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
}

input[type="text"]:-webkit-input-placeholder {
    color:    #b5b5b5;
}

input[type="text"]-moz-placeholder {
    color:    #b5b5b5;
}

input[type="text"]  {
  width:270px;
  padding: 7px 7px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9D9E9E;
  text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}
input[type="text"]:focus {
   background: #DFE9EC;
color: #414848;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline:0;
}
input[type="text"]:hover   {
background: #DFE9EC;
color: #414848;
}

.label {
  vertical-align: super;
}

#output {
  margin: 30px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-rule-color: #000;
  -moz-column-rule-style: dashed;
  -moz-column-rule-width: 1px;
  -webkit-column-rule-color: #000;
  -webkit-column-rule-style: dashed;
  -webkit-column-rule-width: 1px;
}

.block {
  display: inline-block;
}
